<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
<%= form_for(@message) do |f| %>
  <dt>名前:</dt>
  <dd><%= f.text_field :name %></dd>

  <dt>内容:</dt>
  <dd><%= f.text_area :body %></dd>
</dl>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>